/.metadata
/FacebookTestCase$FacebookTestActivity
/StatusActivity
/facebook/tests
/facebook/.settings
/facebook/bin
/facebook/gen
/facebook/TestApp
/sample-fb-app/bin
/sample-fb-app/gen
/sample-fb-app/.settings
/sample-fb-app/libs
